[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./presets/botimus_new.cfg

# Path to python file. Can use relative path from here.
python_file = ./source/agent.py

# Name of the bot in-game
name = Botimus Prime 2.0

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Darxeal

# Link to github repository
github = https://github.com/Darxeal/BotimusPrime

# Programming language
language = python